{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

<div id="home" class="container pt-3 pb-3 pt-md-3 pb-md-3">
{{ .Content | markdownify }}
  <div class="row justify-content-center">
    {{ range .Site.Data.tonadas }}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        <h4 class="text-danger feature-title">{{.titulo }}</h4>
        {{ range .file }}
        {{ if in . "con_gaita" }}<small class="text-secondary">Con gaita</small>{{else if in . "sin_gaita"}}<small class="text-primary">Sin gaita</small>{{ end }}
        <audio id="player" controls>
    <source src="/audios/tonadasvi/{{.}}" type="audio/mp3" />
</audio>{{end}}
        <div class="feature-content">{{ .description }}</div>
      </div>
    </div>
    {{end}}
  </div>
</div>



{{ end }}