{{ if .novedades }}
<div id="novdedades">
  <div class="container">
    <div class="row ">
    <div class="col text-center">
        {{ .novedades | safeHTML }}
      </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
