{{ define "title" }}Factoría de Gaitas de Arguis{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{define "top"}}
{{ partial "top.html"  (dict "novedades" .Site.Params.topbar.novedades ) }}
{{end}}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" . )}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}
<div id="trabajos" class="strip bg-cover bg-position-bottom bg-overlay" style="background-image: url('{{ .Params.background | relURL }}');">
 

  <div class="container pt-17 pb-17">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-primary text-capitalize">{{ .Title }}</h2>
        <h3 class="text-white">{{ .Content }}</h3>
        <!-- <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a> -->
        <a class="button" href="#">Próximamente</a>
      </div>
    </div>
  </div>
  <div class="hero-down text-center">
        <a href="#trabajos">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 898.75 533.751" transform="matrix(.69 0 0 .69 15.5 15.5)" fill="#fff">
                <path d="M224.687 309.061L0 84.372l42.186-42.186L84.372 0l182.815 182.811L450 365.622l182.5-182.496L815 .63l41.874 41.874L898.75 84.38 674.062 309.065 449.373 533.751 224.687 309.06z"/>
            </svg>
          </svg>
        </a>
      </div>
</div>
{{ end }}
<!--
{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container pt-8 pb-8 pb-md-14 pt-md-14">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-3">Our Services</h2>
    </div>
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}services">View All Services</a>
    </div>
  </div>
</div>
{{end}}
-->
<div class="container pt-2 pb-2 pb-md-2 pt-md-2" id="accion">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center text-primary mb-3">¡¡En acción!!</h2>
    </div>
    <div class="col-12 text-center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://www.youtube.com/embed/JiAzQjubiBw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
  </div>
</div>

{{ range first 1 (after 1 $reusablePages) }}
<div id="contacto" class="strip bg-primary bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>
  <div class="container pt-4 pb-4 pb-md-4 pt-md-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
        <h2>{{ .Title }}</h2>
        <p >{{ .Content }}</p>
        
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}